extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/easy-autocomplete.min.css')

block content

  #registro-cliente
    div.card
      div.card-header Datos del cliente
      div.card-body
        form#frm-registrar-cliente
          p.card-text
            div.form-group
              label(for="name") Nombre(s)
              input#name.form-control.form-control-lg(name="name" type="text" required)
            div.form-group
              label(for="last_name") Apellidos
              input#last_name.form-control.form-control-lg(name="last_name" type="text" required)
            div.form-group
              label(for="email") Email
              input#email.form-control.form-control-lg(name="email" type="email" required)
            div.form-group
              label(for="phone_number") Número telefónico
              input#phone_number.form-control.form-control-lg(name="phone_number" type="text" required)
            label Domicilio
            div.form-group
              label(for="line1") Calle y número
              input#line1.form-control.form-control-lg(name="line1" type="text" required)
            div.form-group
              label(for="line2") Colonia
              input#line2.form-control.form-control-lg(name="line2" type="text" required)
            div.form-group
              label(for="line3") Localidad
              input#line3.form-control.form-control-lg(name="line3" type="text" required)
            div.form-group
              label(for="city") Municipio
              input#city.form-control.form-control-lg(name="city" type="text" required)
            div.form-group
              label(for="state") Estado
              input#state.form-control.form-control-lg(name="state" type="text" required)
            div.form-group
              label(for="postal_code") Código postal
              input#postal_code.form-control.form-control-lg(name="postal_code" type="text" required)
            div.form-group
              label(for="country_code") País 
              input#country_code.form-control.form-control-lg(name="country_code" type="text" title="Comenzar a escribir y seleccionar un país de la lista" required)
            p
              button.btn.btn-lg.btn-success(type="submit") Registrar cliente
            div#mensaje.alert(role="alert") 
            

block scripts
  script(src="/javascripts/jquery.easy-autocomplete.min.js")
  script(src="/javascripts/views-registro-cliente.js")
